<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mapper.EventMapper">

    <select id="selectListAll" parameterType="java.util.Map" resultType="com.platform.entity.vo.EventVo">
        SELECT
        a.id,
        a.user_id as userId,
        a.type,
        a.start_day as startDay,
        a.start_time as startTime,
        a.end_day as endDay,
        a.end_time as endTime,
        a.hours,
        a.reason,
        a.status,
        a.create_time as createTime,
        a.examine_time as examineTime,
        a.examine_reason as examineReason,
        b.login_number as loginNumber,
        b.name
        FROM
        m_user_event a,m_sys_user b
        WHERE
        a.user_id=b.id
        <if test="rolesstr != null and  rolesstr == '2'.toString() ">
            and b.id=#{loginUserId}
        </if>
        <if test=" loginNumber != null and loginNumber != '' ">
            and b.login_number LIKE CONCAT('%',CONCAT(#{loginNumber},'%') )
        </if>
        <if test="addressId != null and  addressId != '' ">
            and b.address_id=#{addressId}
        </if>
        <if test=" name != null and name != '' ">
            and b.name LIKE CONCAT('%',CONCAT(#{name},'%') )
        </if>
        <if test=" status != null and status != '' ">
            and a.status=#{status}
        </if>
        order by a.id desc
    </select>


</mapper>